.nav-tabs li img {
    display:none;
}

.nav-tabs li.active img {
    display:block;
}


.c3-region.high {
  fill: red;
}
.c3-region.normal {
  fill: green;
}


.slider-handle  {
        background: blue;
}
